[submodule "grb"]
	path = pkgs/grb
	url = https://github.com/ykrist/rust-grb
[submodule "daggylp"]
	path = pkgs/daggylp
	url = git@bitbucket.org:yannik_rist/daggylp.git
[submodule "gvdot"]
	path = pkgs/gvdot
	url = git@bitbucket.org:yannik_rist/gvdot.git
[submodule "instances"]
	path = pkgs/instances
	url = git@bitbucket.org:yannik_rist/instances.git
[submodule "pkgs/labrat"]
	path = pkgs/labrat
	url = git@github.com:ykrist/labrat.git
